<div [formGroup]="changedFeature" class="title-bar">
    <input formControlName="name" placeholder="Feature name">
    <div class="title-info">
        <app-tags-management (priorityChanged)="priorityChanged($event)" (statusChanged)="statusChanged($event)" />
    </div>    
</div>

<hr>

<div [formGroup]="changedFeature" class="owner-container">
    <input formControlName="owner" placeholder="Owner">
</div>

<div [formGroup]="changedFeature" class="description">
    <textarea formControlName="description" placeholder="Description" class="description-area"></textarea>
</div>

<div class="save-button-container">
   <button class="save-button" (click)="onSave()">Save</button> 
</div>

