span {
    font-family: 'Calibri';
    color: #404240;
}

hr {
    color: #404240;
    height: 1px;
    width: 100%;
    background-color: #bfc1bf;
}

body {
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Calibri';
    font-weight: bold;
    color: #404240;
    min-width: 5rem;
    min-height: 2rem;
    border: 3px solid #EE9802;
    border-radius: 25px;
    background-color: #EE9802;
    cursor: pointer;
    &:hover {
        animation-name: hover-button;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
    }
}

@keyframes hover-button {
    from {
        border: 3px solid #EE9802;
        background-color: #EE9802;
    }
    to {
        background-color: #F2CD4E;
        border: 3px solid #F2CD4E;
    }
}