:host {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 3px solid #9E9E9E ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0px 17px 29px -10px rgba(180, 181, 192, 1);
}

.description {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-info {
    display: flex;
    column-gap: 0.5rem;
}

.description-area {
    width: 100%;
    min-height: 100px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.save-button-container {
    display: flex;
    justify-content: flex-end;
}

.save-button {
    width: 150px;
}

.task-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dates {
    justify-self: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
}

.date-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 0.5rem;
}

.user {
    align-self: flex-end;
}