<div class="title-bar">
    <input placeholder="Task name">
    <div class="title-info">
        <app-tags-management (priorityChanged)="priorityChanged($event)" (statusChanged)="statusChanged($event)" />
    </div>    
</div>

<hr>

<div class="task-data">
    <div class="user">
        <span><b>{{user.name}} {{user.lastName}}</b></span>
    </div>
    <div class="dates">
        <div class="date-column">
           <span><b>Addition date:</b></span>
           <span><b>Start date:</b></span>
           <span><b>End date:</b></span>
        </div>
        <div class="date-column">
           <span>{{toDate(task.addDate)}}</span> 
            <span>{{toDate(task.startDate)}}</span>
            <span>{{toDate(task.endDate)}}</span> 
         </div>
    </div>
</div>

<div class="description">
    <textarea placeholder="Description" class="description-area"></textarea>
</div>

<div class="save-button-container">
   <button class="save-button">Save</button> 
</div>