<div class="title-bar">
    <input placeholder="Task name">
    <div class="title-info">
        <app-tags-management />
    </div>    
</div>
<hr>
<div class="task-data">
    <div class="user">
        <input placeholder="User" >
    </div>
    <div class="dates">
        <div class="date-column">
           <span><b>Addition date:</b></span>
           <span><b>Start date:</b></span>
           <span><b>End date:</b></span>
        </div>
        <div class="date-column">
            <input type="date">
            <input type="date" >
            <input type="date" >
        </div>
    </div>
</div>
<div class="description">
    <textarea placeholder="Description" class="description-area"></textarea>
</div>
    
<div class="save-button-container">
   <button class="save-button" >Save</button> 
</div>

