<app-openable-card [title]="feature.name" [status]="feature.status" [priority]="feature.priority" [borderColor]="this.borderColor">
    <hr>

    <div class="owner-container">
        <span>Owner:</span>
        <span><b>{{feature.owner}}</b></span>
    </div>

    <div class="description">
        <span >{{feature.description}}</span>
    </div>

    <app-task *ngFor="let task of this.feature.tasks" [task]="task" class="task" /> 
    <app-task-form />
    <div class="add-button-container">
        <button>Add task</button>  
        <app-management-buttons (delete)="onDelete()" (edit)="onEdit()" />
    </div>
</app-openable-card>

