<app-openable-card [title]="task.name" [status]="task.status" [priority]="task.priority" [borderColor]="this.borderColor" >
    <hr>
    <div class="task-data">
        <div class="user">
            <span><b>{{user.name}} {{user.lastName}}</b></span>
        </div>
        <div class="dates">
            <div class="date-column">
               <span><b>Addition date:</b></span>
               <span><b>Start date:</b></span>
               <span><b>Expected date: </b></span>
               <span><b>End date:</b></span>
            </div>
            <div class="date-column">
               <span>{{task.addDate}}</span> 
                <span>{{task.startDate}}</span>
                <span>{{task.expectedExecutionTime}}</span>
                <span>{{task.endDate}}</span> 
             </div>
        </div>
    </div>
    <div class="description">
       <span>{{task.description}}</span> 
    </div>
    <app-management-buttons (delete)="onDelete()" (edit)="onEdit()" />
</app-openable-card>
